<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.tech.zhifu</string>
	<key>category</key>
	<string>Tools</string>
	<key>connections</key>
	<dict>
		<key>2969790B-D035-4A16-AAC8-8BE1F1F63F94</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>3E6C9DA4-B067-4F01-BFA7-73EA46BE2512</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>186009BB-E1B1-4A99-BFC6-08907EA5D7BA</string>
				<key>vitoclose</key>
				<false/>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>A4D5F69B-F723-4E27-93AD-27F733DFE19F</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>sourceoutputuid</key>
				<string>33898FF1-DAD8-46EC-9837-A6CDFF42A076</string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>3E6C9DA4-B067-4F01-BFA7-73EA46BE2512</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>9E4B26E8-9DD1-4130-BE4E-4AFBEA229B86</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
		<key>6A44690B-4E38-4417-B9ED-F7D7084EE383</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>2969790B-D035-4A16-AAC8-8BE1F1F63F94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<false/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Zhifu.Tech</string>
	<key>description</key>
	<string>Just toggle vpn within alfred.</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Toggle VPN</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>vpn_toggle.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>3E6C9DA4-B067-4F01-BFA7-73EA46BE2512</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<true/>
				<key>removeextension</key>
				<false/>
				<key>text</key>
				<string>${query}</string>
				<key>title</key>
				<string>Post Toggle</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>9E4B26E8-9DD1-4130-BE4E-4AFBEA229B86</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<true/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<true/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>1</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>v</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<true/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>1</integer>
				<key>runningsubtext</key>
				<string>Change selected vpns!</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>workflow.sh</string>
				<key>subtext</key>
				<string></string>
				<key>title</key>
				<string>Network VPN</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>6A44690B-4E38-4417-B9ED-F7D7084EE383</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>conditions</key>
				<array>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^VPN:</string>
						<key>outputlabel</key>
						<string>Toggle</string>
						<key>uid</key>
						<string>186009BB-E1B1-4A99-BFC6-08907EA5D7BA</string>
					</dict>
					<dict>
						<key>inputstring</key>
						<string></string>
						<key>matchcasesensitive</key>
						<false/>
						<key>matchmode</key>
						<integer>4</integer>
						<key>matchstring</key>
						<string>^PING:</string>
						<key>outputlabel</key>
						<string>Ping</string>
						<key>uid</key>
						<string>33898FF1-DAD8-46EC-9837-A6CDFF42A076</string>
					</dict>
				</array>
				<key>elselabel</key>
				<string>N/A</string>
				<key>hideelse</key>
				<false/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.utility.conditional</string>
			<key>uid</key>
			<string>2969790B-D035-4A16-AAC8-8BE1F1F63F94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>concurrently</key>
				<false/>
				<key>escaping</key>
				<integer>0</integer>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>ping_execute.sh</string>
				<key>type</key>
				<integer>8</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.script</string>
			<key>uid</key>
			<string>A4D5F69B-F723-4E27-93AD-27F733DFE19F</string>
			<key>version</key>
			<integer>2</integer>
		</dict>
	</array>
	<key>readme</key>
	<string># Network VPN workflow

This simple workflow is used to toggle VPN connection within Alfred. It's has the following features.

+ List all VPN configurations.
+ Connected VPN configuration is list the first place.
  + Reselected will move state to switch-off.
+ Ping enabled.
  + Display ping time ms in 'subtitle' attribute, user can choose faster configuration.
  + Manual ping all the configurations, and store time cost persisted.

# Installation
+ From Github releases.
+ From Alfred gallery.

# Usage
Yes, just typing 'v' to start

# License
This project is under the [MIT License](https://opensource.org/license/MIT).</string>
	<key>uidata</key>
	<dict>
		<key>2969790B-D035-4A16-AAC8-8BE1F1F63F94</key>
		<dict>
			<key>xpos</key>
			<real>285</real>
			<key>ypos</key>
			<real>170</real>
		</dict>
		<key>3E6C9DA4-B067-4F01-BFA7-73EA46BE2512</key>
		<dict>
			<key>xpos</key>
			<real>445</real>
			<key>ypos</key>
			<real>85</real>
		</dict>
		<key>6A44690B-4E38-4417-B9ED-F7D7084EE383</key>
		<dict>
			<key>xpos</key>
			<real>95</real>
			<key>ypos</key>
			<real>165</real>
		</dict>
		<key>9E4B26E8-9DD1-4130-BE4E-4AFBEA229B86</key>
		<dict>
			<key>xpos</key>
			<real>700</real>
			<key>ypos</key>
			<real>90</real>
		</dict>
		<key>A4D5F69B-F723-4E27-93AD-27F733DFE19F</key>
		<dict>
			<key>xpos</key>
			<real>450</real>
			<key>ypos</key>
			<real>265</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array/>
	<key>variablesdontexport</key>
	<array/>
	<key>version</key>
	<string>1.0.0</string>
	<key>webaddress</key>
	<string></string>
</dict>
</plist>
